<footer th:fragment="footer" class="site-footer mt-5" xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/css/footer.css}" rel="stylesheet">

    <div class="footer-container">

        <!-- TOP LINKS -->
        <div class="footer-links">
            <a href="#">Giới thiệu</a>

            <a href="/support">Liên hệ</a>
        </div>



        <!-- COMPANY INFO -->
        <div class="footer-company">Công ty TNHH ToolMarket</div>

        <div class="footer-text">
            Địa chỉ: Tầng 5, Tòa nhà Sunrise Tower, Quận 7, TP. Hồ Chí Minh, Việt Nam<br>
            Liên hệ hỗ trợ: support@toolmarket.vn (miễn phí) hoặc Fanpage ToolMarket Support<br>
            Chịu trách nhiệm quản lý nội dung: Nguyễn Văn A<br>
            Mã số doanh nghiệp: 0123456789 do Sở KH&ĐT TP.HCM cấp ngày 01/01/2020<br>
            © 2025 - Bản quyền thuộc về Công ty TNHH ToolMarket
        </div>

    </div>
</footer>
