<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
</head>

<body class="bg-light">
<div class="container mt-5">
    <h2 class="fw-bold mb-4">Edit Account</h2>

    <form th:action="@{'/admin/accounts/edit/' + ${account.accountId}}"
          th:object="${account}"
          method="post"
          class="card p-4 shadow-sm">

<!--        <input type="hidden" th:field="*{accountId}" />-->

        <div class="mb-3">
            <label>Email</label>
            <input type="text" class="form-control" th:field="*{email}" readonly />
        </div>

        <div class="mb-3">
            <label>Full Name</label>
            <input type="text" class="form-control" th:field="*{fullName}" required/>
        </div>

        <div class="mb-3">
            <label>Phone</label>
            <input type="text" class="form-control" th:field="*{phone}" />

            <div class="text-danger mt-1"
                 th:if="${#fields.hasErrors('phone')}"
                 th:errors="*{phone}">
            </div>
        </div>

        <div class="mb-3">
            <label>Address</label>
            <input type="text" class="form-control" th:field="*{address}"/>
        </div>

        <div class="mb-3">
            <label>Status</label>
            <select th:field="*{status}" class="form-select">
                <option value="ACTIVE">ACTIVE</option>
                <option value="DEACTIVATED">DEACTIVATED</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Role</label>
            <select name="roleId" class="form-select">
                <option th:each="r : ${roles}"
                        th:value="${r.roleId}"
                        th:text="${r.roleName}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/admin/accounts" class="btn btn-secondary">Cancel</a>
    </form>

</div>
</body>
</html>
