body {
    background: linear-gradient(to right, #e3f2fd, #e8eaf6);
}

.card {
    border-radius: 18px;
    padding: 35px;
    background: #fff;
    border: none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.form-control {
    border-radius: 10px;
    padding: 10px 14px;
    font-size: 0.95rem;
}

.form-label {
    font-weight: 600;
}
label[for]:before {
    content: "* ";
    color: red;
    font-weight: bold;
}