body {
    background: linear-gradient(to right, #e3f2fd, #e8eaf6);
}

.card {
    border-radius: 18px;
    padding: 35px;
    background: #fff;
    border: none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.form-control {
    border-radius: 10px;
    padding: 10px 14px;
    font-size: 0.95rem;
}

.form-label {
    font-weight: 600;
}

.btn-custom {
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
}

.input-group button {
    border-radius: 10px;
}

.input-group-text {
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.invalid-feedback {
    display: block;
}

label[for]:before {
    content: "* ";
    color: red;
    font-weight: bold;
}