<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Liên hệ</h5>
                <p>Liên hệ ngay nếu bạn có bất kỳ khó khăn khi sử dụng dịch vụ hoặc cần hợp tác.</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Thông tin</h5>
                <p>Một ứng dụng nhằm kết nối, trao đổi, mua bán trong cộng đồng</p>
                <p>kiếm tiền online.</p>
                <p>Thành toán tự động, nhận hàng ngay tức thì.</p>
            </div>
        </div>
    </div>
</footer>
<div class="chat-button">
    <i class="fas fa-comment-dots"></i>
</div>

</body>
</html>
